// @font-face declarations

@font-face
  font-family: 'Oracle Mono';
  src: url('../static/fonts/Oracle-RegularMono.woff2') format('woff2'),
      url('../static/fonts/Oracle-RegularMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
