$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-small = 9px
$font-size-basic = 12px
$font-size-mid = 15px
$font-size-large = 21px

grid-maker(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small)

$header-height = 52px + $margin-basic

body,
html
  height: 100%

#cursor
  visibility: hidden

#header
  z-index: 900
  position: fixed
  top: 0
  left: 0
  width: 100%

.nav-item
  padding: $margin-micro
  cursor: pointer

.section-close-holder
  display: none

.close-icon
  width: 5em

.image-container
  position: relative
  margin: 0 auto $margin-small
  cursor: none
  &.image-active, &:hover
    .image-filter
      opacity: 0

.image-holder
  position: relative
  font-size: 0
  img
    &::selection
      background: transparent

.image-filter
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  mix-blend-mode: screen
  transition: opacity .2s

#images
  padding-top: $header-height
  padding-bottom: $margin-basic
