@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-small = 10px
  $font-size-basic = 13px
  $font-size-mid = 18px
  $font-size-large = 28px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(96%, $gutter, m)

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small)

  $header-height = 45px + $margin-basic

  .mobile-only
    display: none !important

  #cursor
    position: absolute
    z-index: 1000
    top: 200vh
    left: 200vw
    pointer-events: none
    cursor: none
    width: 40px
    height: 52px
    path
      fill: $color-black
    &.hide
      visibility: hidden

  #site-title
    text-align: center

  .nav-item
    padding: $margin-micro

  // OVERLAY

  body,
  html
    overflow: hidden
    cursor: none

  body
    &.overlay-active
      .image-active
        .image-filter
          opacity: 1
        a,
        a:visited,
        a:active
          color: $color-black

  .content-overlay
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    pointer-events: none
    opacity: 0
    z-index: 500
    transition: opacity .2s
    &.show
      pointer-events: auto
      opacity: 1

  .section-content-holder
    height: 100vh
    z-index: 500

  .section-content-wrapper
    padding-top: $header-height
    max-height: 100%
    overflow: auto
    overflow-x: hidden

  .section-close-holder
    display: block
    position: absolute
    width: 100%
    top: $header-height
    left: 0
    pointer-events: none
    z-index: 600

  .section-close
    pointer-events: auto
    cursor: pointer

  #contact
    .section-close-holder
      display: flex

  // IMAGES

  #images
    z-index: 0
    padding-bottom: 0

  .image-container
    position: fixed
    max-width: 30vw
    max-height: 30vh
    margin: 0
