@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 14px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(680px, $gutter, m)

  font-sizes($font-size-basic)

  $header-height = 100px

  .mobile-only
    display: none !important

  // OVERLAY

  body,
  html
    overflow: hidden

  .content-overlay
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    pointer-events: none
    visibility: hidden
    overflow: scroll
    &.show
      pointer-events: auto
      visibility: visible

  // IMAGES

  section#images
    z-index: 0

  .image-container
    position: fixed
    max-width: 40vw
    max-height: 40vh
    margin: 0
    &.image-active
      .image-filter
        opacity: 0
