@media screen and (min-width: 1024px)

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-small = 11px
  $font-size-basic = 14px
  $font-size-mid = 21px
  $font-size-large = 36px

  grid-maker(96%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small)

  $header-height = 126px

  .desktop-only
    display: initial !important

  .section-content
    padding-top: $header-height

  .section-close-holder
    top: $header-height
